html {
  margin: 0;
  padding: 0; }
  html body {
    display: flex;
    background-color: black;
    overflow: scroll;
    flex-direction: column;
    align-content: center;
    margin: 0vh 1vw;
    text-align: justify; }
    html body a, html body a:visited, html body a:active {
      color: inherit;
      text-decoration: none; }
    html body footer {
      color: #ABABAB; }
      html body footer .author {
        text-align: center; }
    html body #main {
      line-height: 2em;
      color: #ABABAB;
      font-family: 'Exo', sans-serif;
      font-size: 1.1em; }
      html body #main header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        html body #main header .myWebsiteName {
          font-family: 'Nobile', sans-serif;
          font-size: 2em;
          margin-right: 50px; }
          html body #main header .myWebsiteName:hover {
            cursor: pointer;
            color: #BB86FC; }
        html body #main header .hamburger {
          position: fixed;
          left: 0;
          margin-top: 20px;
          width: 2rem;
          height: 2rem;
          margin-left: 0.5rem;
          background: none;
          border: none;
          cursor: pointer;
          color: #BB86FC; }
        html body #main header .sideNav {
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          z-index: 101;
          background: black;
          width: 32vw;
          height: 100vh;
          overflow: hidden;
          color: white;
          border-right: 1px solid #BB86FC;
          /* hide the menu above the screen by default */
          transform: translateX(-100%);
          transition: transform 0.2s ease; }
          html body #main header .sideNav .menu {
            position: fixed;
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            transition: transform 0.2s;
            z-index: 99;
            background: black;
            color: #ABABAB;
            list-style: none;
            padding-top: 4rem; }
            html body #main header .sideNav .menu li {
              margin-top: 4vh; }
              html body #main header .sideNav .menu li a:hover {
                color: #BB86FC; }
          html body #main header .sideNav .menuX {
            position: absolute;
            z-index: 100;
            top: 2rem;
            right: 1.5rem;
            width: 2rem;
            height: 2rem;
            margin-left: 0.5rem;
            background: none;
            border: none;
            cursor: pointer;
            color: white; }
            html body #main header .sideNav .menuX:hover {
              color: #BB86FC; }
        html body #main header .showNav {
          transform: translateX(0);
          transition: transform 0.2s ease; }
        html body #main header .overlay {
          position: fixed;
          display: none;
          z-index: 100;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: black;
          opacity: 0.5;
          width: 100%;
          height: 100vh; }
        html body #main header .showOverlay {
          display: block; }
      html body #main .intro {
        margin: 5% 15%;
        font-size: 1.3em; }
      html body #main .overlayPopUp {
        position: fixed;
        display: none;
        z-index: 998;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0.5;
        width: 100%;
        height: 100vh; }
      html body #main .showOverlay {
        display: block; }
      html body #main .popUp {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(33, 33, 33, 0.95);
        padding: 2%;
        position: fixed;
        overflow: auto;
        top: 25px;
        left: 15%;
        z-index: 999;
        width: 70vw; }
        html body #main .popUp .content {
          display: flex;
          flex-direction: column; }
          html body #main .popUp .content h2 {
            color: #BB86FC; }
          html body #main .popUp .content .opinionTitle {
            font-weight: bold;
            margin-top: 15px; }
          html body #main .popUp .content .desc a {
            color: #BB86FC; }
          html body #main .popUp .content a {
            color: #BB86FC; }
          html body #main .popUp .content .opinion {
            margin-left: 2%; }
          html body #main .popUp .content .rating {
            margin-left: 2%;
            font-weight: bold;
            margin-top: 15px;
            color: #BB86FC; }
        html body #main .popUp .close {
          position: absolute;
          display: inline;
          right: 0;
          top: 0;
          margin-top: 1%;
          margin-right: 1%;
          font-size: 3em; }
          html body #main .popUp .close:hover {
            cursor: pointer;
            color: #BB86FC; }
      html body #main .show {
        display: block; }
      html body #main section {
        margin: 5% 15%; }
        html body #main section .gallery {
          justify-content: center;
          background: black;
          margin-top: 5%;
          /* customizing big buttons */
          /* customizing arrow color */ }
          html body #main section .gallery .gallery-cell {
            width: 35%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            html body #main section .gallery .gallery-cell .artworkImg {
              width: 300px;
              height: 400px;
              filter: grayscale(100%);
              transform: scale(0.7); }
            html body #main section .gallery .gallery-cell #lvlImg {
              object-fit: cover; }
            html body #main section .gallery .gallery-cell h3 {
              margin-top: -40px; }
              html body #main section .gallery .gallery-cell h3:hover {
                cursor: pointer;
                color: #BB86FC; }
          html body #main section .gallery .gallery-cell.is-selected .artworkImg {
            transition: transform ease-in-out;
            transform: scale(1); }
            html body #main section .gallery .gallery-cell.is-selected .artworkImg:hover {
              filter: grayscale(0%);
              cursor: pointer; }
          html body #main section .gallery .gallery-cell.is-selected h3 {
            margin-top: 20px; }
          html body #main section .gallery .flickity-page-dots .dot {
            width: 10px;
            height: 10px;
            background: grey; }
          html body #main section .gallery .flickity-page-dots .dot.is-selected {
            background: #BB86FC; }
          html body #main section .gallery .flickity-prev-next-button {
            width: 75px;
            height: 75px;
            background: transparent; }
          html body #main section .gallery .flickity-prev-next-button .arrow {
            fill: #BB86FC; }
          html body #main section .gallery .flickity-prev-next-button.no-svg {
            color: #2E2E2E; }
