html{
    margin:0;
    padding:0;

    body {
        display:flex;
        background-color: black;
        overflow:scroll;
        flex-direction: column;
        align-content: center;
        margin:0vh 1vw;
        text-align:justify;

        #main{
          line-height: 2em;
          color:#ABABAB;
          font-family: 'Exo', sans-serif;
          font-size: 1.1em;
          
          a, a:visited, a:active{
            color: inherit;
            text-decoration: none;
          }
            header{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;

                .myWebsiteName{
                  font-family: 'Nobile', sans-serif;
                  font-size: 2em;
                  margin-right: 50px;
                  &:hover{
                    cursor: pointer;
                    color:#BB86FC;
                  }
                }
                .hamburger {
                  position: relative;
                  left:0;
                  width: 2rem;
                  height: 2rem;
                  margin-left: 0.5rem;
                  background: none;
                  border: none;
                  cursor: pointer;
                  color: #BB86FC;
                }
                .sideNav {
                    position: fixed;
                    top: 0;
                    left:0;
                    bottom: 0;
                    z-index: 101;
                    background: black;
                    width: 32vw;
                    height: 100vh;
                    overflow: hidden;
                    color: white;
                    /* hide the menu above the screen by default */
                    transform: translateX(-100%);
                    transition: transform 0.2s ease;

                    .menu {
                      position: fixed;
                      font-size: 1.8rem;    
                      display: flex;
                      flex-direction: column;
                      transition: transform 0.2s;
                      z-index: 99;
                      background:black;
                      color: #ABABAB;
                      list-style: none;
                      padding-top: 4rem;

                        li{
                          margin-top:4vh;
                          a:hover{
                              color:#BB86FC;
                            }
                          }
                        }
                    }

                    .menuX {
                      position: absolute;
                      z-index: 100;
                      top: 2rem;
                      right: 1.5rem;
                      width: 2rem;
                      height: 2rem;
                      margin-left: 0.5rem;
                      background: none;
                      border: none;
                      cursor: pointer;
                      color: white;
                      &:hover{
                        color:#BB86FC;
                      }
                    }
                  }
                  .showNav {
                    transform: translateX(0);
                    transition: transform 0.2s ease;
                  }
                      
                .overlay {
                    position: fixed;
                    display: none;
                    z-index: 100;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    height: 100vh;
                  }
                  
                  .showOverlay {
                    display: block;
                  }
            }
            //END HEADER

            //MAIN CONTENT START
            .intro{
              margin:5% 15%;
            }
        }
    }
}